/*
Tar & Roses
Created November 2011
Markup authored by James P. Morse of www.workwithgrid.com
*/

/* -- STYLE RESET -- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	display: block;
}

/* -- GENERAL STRUCTURE -- */
body {
	background: url('image/body_background.jpg') repeat;
}
#wrapper {
	width: 1000px;
	height: 745px;
	margin: 40px auto 20px auto;
	background: url('image/paper_background.jpg');
	-webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.75); /* Safari and Chrome */
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.75);
}

/* -- TYPOGRAPHY -- */
h1 {
	font-family: 'Kreon', 'Kameron', 'Rokkitt', 'Volkhov', Arial, sans-serif;
	font-weight: 700;
	font-size: 21px;
	color: #990000;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}
h2 {
	font-family: 'Kreon', 'Kameron', 'Rokkitt', 'Volkhov', Arial, sans-serif;
	font-weight: 700;
	color: #000000;
	font-size: 18px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
h3 {
	font-family: 'Kreon', 'Kameron', 'Rokkitt', 'Volkhov', Arial, sans-serif;
	font-weight: 700;
	color: #000000;
	font-size: 12px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}
p {
	font-family: Arial, sans-serif;
	font-size: 11px;
	line-height: 16px;
	color: #000000;
	margin: 0 0 16px 0;
}
a:link, a:visited {
	color: #990000;
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}
b {
	font-weight: bold;
}
em {
	color: #990000; /* This makes text red */
}

/* -- NAVIGATION -- */
#nav {
	width: 165px;
	height: 680px;
	margin: 30px 15px 35px 15px;
	padding: 0;
	float: left;
	background: url('image/nav_sprite.jpg') 0 0 no-repeat;
}
#nav li, #nav li a {
	list-style: none;
	text-indent: -9999em;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
#nav_01 a { /* Tar & Roses */
	width: 165px;
	height: 130px;
	display: block;
	background: url('image/nav_sprite.jpg') 0 0 no-repeat;
}
#nav_02 a { /* Menu */
	width: 165px;
	height: 60px;
	display: block;
	background: url('image/nav_sprite.jpg') 0 -200px no-repeat;
}
#nav_02 a:hover, #nav_02_selected {
	width: 165px;
	height: 60px;
	background: url('image/nav_sprite.jpg') -200px -200px no-repeat;
}
#nav_03 a { /* Photos */
	width: 165px;
	height: 30px;
	display: block;
	background: url('image/nav_sprite.jpg') 0 -300px no-repeat;
}
#nav_03 a:hover, #nav_03_selected {
	width: 165px;
	height: 30px;
	background: url('image/nav_sprite.jpg') -200px -300px no-repeat;
}
#nav_04 a { /* News */
	width: 165px;
	height: 50px;
	display: block;
	background: url('image/nav_sprite.jpg') 0 -400px no-repeat;
}
#nav_04 a:hover, #nav_04_selected {
	width: 165px;
	height: 50px;
	background: url('image/nav_sprite.jpg') -200px -400px no-repeat;
}
#nav_05 a { /* The Team */
	width: 165px;
	height: 60px;
	display: block;
	background: url('image/nav_sprite.jpg') 0 -500px no-repeat;
}
#nav_05 a:hover, #nav_05_selected {
	width: 165px;
	height: 60px;
	background: url('image/nav_sprite.jpg') -200px -500px no-repeat;
}
#nav_06 a { /* Parties */
	width: 165px;
	height: 30px;
	display: block;
	background: url('image/nav_sprite.jpg') 0 -600px no-repeat;
}
#nav_06 a:hover, #nav_06_selected {
	width: 165px;
	height: 30px;
	background: url('image/nav_sprite.jpg') -200px -600px no-repeat;
}
#nav_07 a { /* Press */
	width: 165px;
	height: 30px;
	display: block;
	background: url('image/nav_sprite.jpg') 0 -700px no-repeat;
}
#nav_07 a:hover, #nav_07_selected {
	width: 165px;
	height: 30px;
	background: url('image/nav_sprite.jpg') -200px -700px no-repeat;
}
#nav_08 a { /* Visit Us */
	width: 165px;
	height: 50px;
	display: block;
	background: url('image/nav_sprite.jpg') 0 -800px no-repeat;
}
#nav_08 a:hover, #nav_08_selected {
	width: 165px;
	height: 50px;
	background: url('image/nav_sprite.jpg') -200px -800px no-repeat;
}
#nav_09 a { /* Address */
	width: 165px;
	height: 60px;
	display: block;
	background: url('image/nav_sprite.jpg') 0 -900px no-repeat;
}
#nav_09 a:hover {
	background: url('image/nav_sprite.jpg') -200px -900px no-repeat;
}
#nav_10 { /* Phone Number */
	width: 165px;
	height: 60px;
	display: block;
	background: url('image/nav_sprite.jpg') 0 -1000px no-repeat;
}
#nav_11 a { /* Facebook */
	width: 86px;
	height: 30px;
	display: block;
	background: url('image/nav_sprite.jpg') 0 -1100px no-repeat;
	float: left;
}
#nav_11 a:hover {
	background: url('image/nav_sprite.jpg') -200px -1100px no-repeat;
}
#nav_12 a { /* Twitter */
	width: 79px;
	height: 30px;
	display: block;
	background: url('image/nav_sprite.jpg') 0 -1200px no-repeat;
	float: left;
}
#nav_12 a:hover {
	background: url('image/nav_sprite.jpg') -200px -1200px no-repeat;
}
#nav_13 a { /* Reservations */
	width: 165px;
	height: 40px;
	display: block;
	background: url('image/nav_sprite.jpg') 0 -1300px no-repeat;
	clear: both;
}
#nav_13 a:hover {
	background: url('image/nav_sprite.jpg') -200px -1300px no-repeat;
}
#nav_14 { /* It's Wood Fired */
	width: 165px;
	height: 50px;
	display: block;
	background: url('image/nav_sprite.jpg') 0 -1400px no-repeat;
}

/* -- HOME CONTENT -- */
#home_slideshow {
	height: 675px;
	width: 780px;
	margin: 33px 0 0 0;
	background: transparent;
	float: left;
	overflow: hidden;
}

/* -- MENU CONTENT -- */
#menu_background {
	height: 675px;
	width: 780px;
	margin: 33px 0 0 0;
	background: url('image/lunch_dinner.jpg');
	float: left;
	overflow: hidden;
}
#menu {
	width: 752px;
	height: 25px;
	margin: 490px 0 0 14px;
	padding: 0;
	float: left;
}
#menu li, #menu li a {
	list-style: none;
	text-indent: -9999em;
	margin: 0;
	padding: 0;
}
#menu_lunch a { /* Lunch Menu */
	width: 376px;
	height: 25px;
	display: block;
	background: url('image/menu_sprite.jpg') 0 -100px no-repeat;
	float: left;
	cursor: default !important; /* remove cursor style once lunch menu is available for download */
}
#menu_dinner a { /* Dinner Menu */
	width: 376px;
	height: 25px;
	display: block;
	background: url('image/menu_sprite.jpg') 0 0 no-repeat;
	float: left;
}
#menu_dinner a:hover {
	background: url('image/menu_sprite.jpg') -400px 0 no-repeat;
}

/* -- PARTIES CONTENT -- */
#parties_background {
	height: 675px;
	width: 780px;
	margin: 33px 0 0 0;
	background: url('image/coming_soon.jpg');
	float: left;
	overflow: hidden;
}

/* -- THE TEAM CONTENT -- */
#team_content {
	height: 675px;
	width: 800px;
	margin: 33px 0 0 0;
	background: transparent;
	float: left;
	overflow: auto;
}
.team_member {
	margin: 0 0 20px 0;
	overflow: hidden;
}
.team_member img.portrait {
	width: 760px;
	border: 10px solid #FFFFFF;
}
.member_name {
	padding: 12px 0 10px 0;
	text-align: center;
	overflow: hidden;
}
.member_name h2 {
	padding: 0 10px;
	display: inline;
}
.member_name img {
	height: 10px;
	width: 30px;
	display: inline;
	margin: 0 0 3px 0;
}
.team_member .column_1 {
	width: 380px;
	margin: 10px 20px 0 0;
	overflow: hidden;
	float: left;
	text-align: justify;
}
.team_member .column_2 {
	width: 380px;
	margin: 10px 0 0 0;
	overflow: hidden;
	float: left;
	text-align: justify;
}

/* -- NEWS CONTENT -- */
#news_content {
	height: 675px;
	width: 800px;
	margin: 33px 0 0 0;
	background: transparent;
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
}
.news_entry {
	width: 100%;
	margin: 0 0 20px 0;
	padding: 0 0 10px 0;
	overflow: hidden;
}
.news_entry .column_1 {
	width: 370px;
	margin: 10px 20px 0 0;
	overflow: hidden;
	float: left;
	text-align: justify;	
}
.news_entry .column_2 {
	width: 370px;
	margin: 10px 0 0 0;
	overflow: hidden;
	float: left;
	text-align: justify;
	border-bottom: 2px solid #990000;	
}
.news_entry .column_1 img {
	width: 350px;
	border: 10px solid #FFFFFF;
}

/* -- PRESS CONTENT -- */
#press_content {
	height: 675px;
	width: 800px;
	margin: 33px 0 0 0;
	background: transparent;
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
}
.press_entry {
	width: 100%;
	margin: 0 0 20px 0;
	padding: 0 0 10px 0;
	overflow: hidden;	
}
.press_entry .column_1 {
	width: 370px;
	margin: 10px 20px 0 0;
	overflow: hidden;
	float: left;
	text-align: justify;
}
.press_entry .column_2 {
	width: 370px;
	margin: 10px 0 0 0;
	overflow: hidden;
	float: left;
	text-align: justify;
	border-bottom: 2px solid #990000;	
}
.press_entry .column_1 img {
	width: 260px;
	border: 10px solid #FFFFFF;
	float: right;
}

/* -- PHOTOS PAGE CONTENT -- */
#photo_content {
	height: 675px;
	width: 780px;
	margin: 33px 0 0 0;
	background: transparent;
	float: left;
	overflow: hidden;
}
#primary_photo {
	width: 760px;
	height: 540px;
	border: 10px solid #FFFFFF;
	background: #CCCCCC;
	margin: 0 0 10px 0;
}
#film_strip {
	width: 800px;
	overflow: hidden;
}
.thumbnail {
	width: 128px;
	height: 85px;
	border: 10px solid #FFFFFF;
	background: #CCCCCC;
	margin: 0 10px 0 0;
	float: left;
}

/* -- VISIT US CONTENT -- */
#visit_content {
	height: 675px;
	width: 780px;
	margin: 33px 0 0 0;
	background: transparent;
	float: left;
	overflow: hidden;
}
#visit_content .column_1 {
	width: 410px;
	border-right: 1px dashed #990000;
	margin: 0 10px 0 0;
	overflow: hidden;
	float: left;
}
#visit_content .column_2 {
	width: 350px;
	overflow: hidden;
	float: left;
}
#visit_content .column_1 img {
	float: left;
}
#visit_content .column_2 img {
	border: 10px solid #FFFFFF;
	margin: 0 0 10px 0;
}

/* -- SIMPLE SLIDESHOW STYLES (homepage) -- */
ul#slideshow {
	list-style: none;
	height: 675px;
	width: 780px;
	overflow: hidden;
	border: 10px solid #FFFFFF;
}

/* -- CODA SLIDER STYLES (image slideshow) -- */
noscript div {
	background: #ccc;
	border: 1px solid #900;
	margin: 20px 0;
	padding: 15px
}
.coda-slider {
	background: transparent;
}
/* Use this to keep the slider content contained in a box even when JavaScript is disabled */
.coda-slider-no-js .coda-slider {
	height: 200px;
	overflow: auto !important;
	padding-right: 20px;
}
/* Change the width of the entire slider (without dynamic arrows) */
.coda-slider, .coda-slider .panel {
	width: 770px; /* 10px wider than photo to create right edge white padding between slides */
}
/* Change margin and width of the slider (with dynamic arrows) */
.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel {
	width: 760px;
}
.coda-slider-wrapper.arrows .coda-slider {
	margin: 0 10px;
}
/* Arrow styling */
.coda-nav-left a, .coda-nav-right a {
	background: #000;
	color: #fff; 
	padding: 5px;
	width: 100px;
}
/* Tab nav */
.coda-nav ul li a.current {
	background: #39c;
}
/* Panel padding */
.coda-slider .panel-wrapper {
	padding: 0;
}
/* Preloader */
.coda-slider p.loading {
	padding: 20px;
	text-align: center;
}
/* Tabbed nav */
.coda-nav ul {
	clear: both;
	display: block;
	margin: auto;
	overflow: hidden;
}
.coda-nav ul li {
	display: inline;
}
.coda-nav ul li a {
	background: #000;
	color: #fff;
	display: block;
	float: left;
	margin-right: 1px;
	padding: 3px 6px;
	text-decoration: none;
}
/* Miscellaneous */
.coda-slider-wrapper {
	clear: both;
	overflow: hidden;
	background: #FFFFFF;
	border: 10px solid #FFFFFF;
}
.coda-slider {
	float: left;
	overflow: hidden;
	position: relative;
}
.coda-slider .panel {
	background: transparent;
	display: block;
	float: left;
}
.coda-slider .panel-container {
	position: relative;
}
.coda-nav-left, .coda-nav-right {
	float: left;
}
.coda-nav-left a, .coda-nav-right a {
	display: block;
	text-align: center;
	text-decoration: none;
}