/* -- IE Fixes - Unfortunately, these are necessary -- */

#wrapper {
	width: 1000px;
	height: 745px;
	margin: 40px auto 20px auto;
	background: url('images/paper_background_IE.jpg');
}
#nav li, #nav li a {
	float: left;
}
#menu li, #menu li a {
	float: left;
}